/*  your css code here. If applicable */
body{
    background-color: rgb(204, 204, 204)
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    font-weight: bolder;
}
ul{
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 10px;
}
li{
    list-style: none;
    padding: 5px;
    font-weight: 300;
}
a{
    font-size: 20px;
    text-decoration-line: none;
    color: black;
}
.lower{
    height: 600px;
    width: 800px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
  
}
video{
    height: 480px;
    width: 800px;
}
audio{
    height: 30px;
    width: 800px;
}
